@font-face {
    font-family: 'open_sanssemibold';
    src: url('open-sans.semibold-webfont.woff2') format('woff2'),
         url('open-sans.semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('open-sans.regular-webfont.woff2') format('woff2'),
         url('open-sans.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('open-sans.light-webfont.woff2') format('woff2'),
         url('open-sans.light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    @font-face {
    font-family: 'Athelas Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Athelas Bold'), url('Athelas-Bold.woff') format('woff');
    }


    @font-face {
    font-family: 'Athelas Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Athelas Bold Italic'), url('Athelas-BoldItalic.woff') format('woff');
    }



@font-face {
    font-family: 'lovers_quarrelregular';
    src: url('lovers-quarrel.regular-webfont.woff2') format('woff2'),
         url('lovers-quarrel.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('open-sans.italic-webfont.woff2') format('woff2'),
         url('open-sans.italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('open-sans.light-italic-webfont.woff2') format('woff2'),
         url('open-sans.light-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('open-sans.bold-webfont.woff2') format('woff2'),
         url('open-sans.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



